<mat-card>
    <!-- <mat-card-header>
        <h1>Confirm</h1>
    </mat-card-header> -->
    <mat-card-content>
      
            <h1 mat-dialog-title>Delete Customer</h1>
            <div mat-dialog-content>
              Do you really want to delete the Customer
            </div>
            <div mat-dialog-actions>
              <button mat-button mat-dialog-close>No</button>
              <button mat-button mat-dialog-close cdkFocusInitial color="warn" (click)="deleteCustomer()">Yes</button>
            </div>
    </mat-card-content>
</mat-card>